@import url(./_variable.css);

a {
    cursor: pointer;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover  {
    color: var(--text-color)!important;
}

a:focus,
a:active,
a:hover {
    outline: 0px!important;
    box-shadow: none!important;
}

a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@font-face{
    font-family: "Roboto";
    src: "../fonts/Roboto-Regular.ttf";
}

/* Buttons */
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
    outline: 0px!important;
    box-shadow: none!important;
}

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 1px solid transparent!important;
    border-radius: 5px;
}

.button.primary {
    background: var(--primary-color);
    background-clip: padding-box;
    color: var(--primary-color-light);
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary:hover{
    background: var(--primary-color-light);
    color: var(--primary-color-dark);
    background-clip: padding-box;

}
/* 
.button.primary::after, .button.secondary::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content: "";
    z-index: -1;
    border-radius: 4px;
} */

.button.secondary {
    background: var(--secondary-color);
    background-clip: padding-box;
    transition: background .6s ease;
    color: var(--primary-color-dark)!important;
}

.button.secondary:hover {
    color: var(--primary-color-dark)!important;
}
/* Buttons */


/* section */
section {
    padding: 3rem 0;
}

/* section */


/* headers text */
.header-section {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

.header-section .header-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.header-section .header-content .header-text {
    font: normal 600 32px/32px var(--roboto);
    color: var(--primary-color-dark);
}

.header-section .header-content .header-subtext {
    color: var(--primary-color);
}

.header-section .line {
    width: 50%;
    height: 1px;
    margin: 10px 10px;
    background: var(--border-color);
    display: inline-block;
}

@media only screen and (max-width: 662px) {
    .header-section .line {
        display: none;
    }
}

/* headers text */

p.para {
    color: var(--text-color);
    font: normal 500 16px/25px var(--roboto);
    text-align: center;
}