@import url(./_variable.css);

a {
    cursor: pointer;
}

a:focus,
a:active,
a:hover {
    outline: 0px!important;
    box-shadow: none!important;
}

@font-face{
    font-family: "Roboto";
    src: "../fonts/Roboto-Regular.ttf";
}

/* Buttons */
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
    outline: 0px!important;
    box-shadow: none!important;
}

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 5px;
}

.button.btn-primary {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.btn-primary:hover{
    background: whitesmoke;
    color: black;
    background-clip: padding-box;

}

.button.btn-primary::after, .button.btn-secondary::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content: "";
    z-index: -1;
    border-radius: 4px;
}

.button.btn-secondary {
    background: whitesmoke;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.btn-secondary:hover {
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}
/* Buttons */


/* section */
section {
    padding: 3rem 0;
}

/* section */


/* headers text */
.header-section {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

.header-section .header-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.header-section .header-content .header-text {
    font: normal 600 32px/32px var(--roboto);
    color: var(--primary-color-dark);
}

.header-section .header-content .header-subtext {
    color: var(--primary-color);
}

.header-section .line {
    width: 50%;
    height: 1px;
    margin: 10px 10px;
    background: var(--border-color);
    display: inline-block;
}

@media only screen and (max-width: 662px) {
    .header-section .line {
        display: none;
    }
}

/* headers text */

p.para {
    color: var(--text-color);
    font: normal 500 16px/25px var(--roboto);
    text-align: center;
}